﻿ body{display:table;font-family:sans-serif;font-size:80%;margin:0;padding:0;width:100%}html>body{font-size:0.75em}*:first-child+html
body{font-size:80%}#header{height:auto;width:100%}#c1c2{display:block;float:left;width:100%}#c1c2[id]{float:right}*:first-child+html
#c1c2{float:left;margin-left: -180px;padding-left:180px;width:auto}#c1c2
#wrapper{float:right;width:100%;min-width:100%}#c1c2
#wrapper
#col1{}#c1c2
#wrapper
.marginleft{margin-left:180px}#c1c2
#wrapper
.marginright{margin-right:180px}#c1c2
#wrapper
#col1>.content{width:auto !important;width/**/:100%}#c1c2
#col2{float:right;margin-right: -100%;overflow:hidden;width:180px}#c1c2[id]
#col2{float:left}*:first-child+html
#c1c2[id]
#col2{margin-left:0}#col3{float:left;margin-left: -180px;overflow:hidden;width:180px}html> body
#col3[id]{float:right;margin-right: -100%}#footer{clear:both;width:100%}.footerbgtrap{background-color:transparent}h1{font-size:2.4em}h2{font-size:2.1em}h3{font-size:1.8em}h4{font-size:1.5em}h5{font-size:1.2em}h6{font-size:0.9em}body{display:block;margin:0;padding:0;text-align:left;width:100%}body.db_error #tiki-main{max-width:800px;margin:1em
auto}html[dir=ltr]>body{display:block;padding:1em;width:auto}#fixedwidth{display:table;margin:auto;margin-top:0;margin-bottom:0;width:100%}.fixed_width
#fixedwidth{width:990px}.fixed_width
#main{margin-top:18px;margin-bottom:5px}.fixed_width #fixedwidth[id]{height:auto}.fullscreen #c1c2 #wrapper
#col1.marginleft{margin-left:30px}.fullscreen #c1c2 #wrapper
#col1.marginright{margin-right:30px}.button{display:inline-block}.button a,
.button a:visited,
button,
.button input,
.calbuttonBox
a{text-decoration:none;white-space:nowrap;cursor:pointer}input[type=reset],input[type=submit]{text-decoration:none;white-space:nowrap;cursor:pointer}.input_submit_container{padding:1px}.iconmenu{display:inline}#col2 select,
#col3 select,
#col3 input[type="text"],
#col2 input[type="text"]{width:95%}#col2 input.openid_url,
#col3
input.openid_url{padding:1px
1px 1px 18px;min-height:16px;width:85%}label{cursor:pointer;vertical-align:middle}form{margin:0;padding:0}fieldset{clear:both}input,legend{vertical-align:middle}hr{width:100%;height:1px;border-width:0;padding:0}img{border:0}#siteheader{vertical-align:middle;padding:0;margin:0}#sioptionscentered{text-align:center}#sioptionscentered #logo
img{margin:auto}.floatright{float:right;clear:none}.floatleft{float:left;clear:none}#sitead{margin:auto}.sl-login{display:inline}#siteloginbar #register,
#siteloginbar
#pass{float:right;padding-left:5px}#siteloginbar
*{white-space:nowrap}#siteloginbar
form{padding-right:0}.tiki_register_login{bottom:3px;position:absolute;right:10px}#siteloginbar_popup{bottom:0;position:absolute;right:4em}#siteloginbar_popup .tabcontent
fieldset{margin:0;margin-left: -4px;border:none}#siteloginbar_popup
h1{font-size:1em;font-weight:normal;margin:auto}li#register_link{margin-right:5px}.tabmark a.register_link,
.tabmark
a.login_link{padding-right:26px !important}#siteloginbar_popup .cssmenu_horiz #register_link
ul{margin-left: -5.5em}#siteloginbar_popup .cssmenu_horiz #login_link
ul{margin-left: -9em}#siteloginbar_popup .cssmenu_horiz #logout_link
ul{margin-left: -2.5em}#siteloginbar_popup
#siteloginbar{bottom:auto;font-size:inherit;position:static;right:auto;text-align:left}#siteloginbar_popup #siteloginbar
*{white-space:normal}#siteloginbar_popup .cssmenu_horiz ul
li{width:100%;font-size:inherit}#siteloginbar_popup
form{text-align:left;width:auto;white-space:normal !important}#siteloginbar_popup .sl-login,
#siteloginbar_popup
.pass{display:block;width:auto;margin-bottom:4px}#sitesubtitle{line-height:0.9em}li#logout_link
a{padding-right:40px}#siteloginbar_popup #logout_link
.cbox{text-align:center}#siteloginbar_popup .cssmenu_horiz
div{}#siteloginbar_popup .cssmenu_horiz div
a{display:inline}#siteloginbar_popup
.cbox{padding:10px;margin:2px
2px 3px 1px}#siteloginbar_popup .cbox
*{line-height:14px;margin:2px}#siteloginbar_popup .cbox
label{clear:both;float:left}#siteloginbar_popup .cbox
div{clear:both}#siteloginbar_popup #sl-login-user,
#siteloginbar_popup #sl-login-pass{float:right;width:60%}#siteloginbar_popup
.rme{display:block;padding:5px
0;text-align:right}#siteloginbar_popup
.pass{display:inline}#siteloginbar_popup .pass
a{float:left;margin:0;padding:0;text-align:center;width:30%}#siteloginbar_popup .register
a{float:right;margin:0;padding:0;text-align:center;width:30%}#siteloginbar_popup
.wikiaction{clear:both;float:right}#sitesearchbar{float:right;clear:left;padding-right:4px;text-align:right;display:block;margin:0}#tiki-top
form.findtable{margin-top:0;margin-bottom:0}#tiki-top
table{width:auto;white-space:nowrap}.horbar
table{width:auto;text-align:left;white-space:nowrap}.horbaritem a,
.horbaritem a:link,
.horbaritem a:visited{white-space:nowrap;display:block}.mdksubmenu{z-index:999;position:absolute;left:0;top:0;visibility:hidden}.mdksubmenu
table{width:auto}.mdksubframe{z-index:1000;position:relative;display:block}.mdkitem{position:relative;text-align:left;white-space:nowrap}.mdkitem
a{position:relative;display:block}.mdkitem
.mdkfwdarr{position:absolute;top:5px;right:12px}.treemenudiv{display:block;white-space:nowrap;overflow:hidden}.imgs{border:0;width:16px;height:18px}ul.tree{list-style-type:none}ul.tree
li{white-space:nowrap}.linkmenu,.linkmenu:visited{}.minimize-modules-left
#col1{margin-left:80px !important}.minimize-modules-right
#col1{margin-right:80px !important}.minimize-modules-left #col2 .separatoricon-toggle,
.minimize-modules-left #col2 .box .menuText,
.minimize-modules-left #col2 .mdkfwdarr,
.minimize-modules-right #col3 .separatoricon-toggle,
.minimize-modules-right #col3 .box .menuText,
.minimize-modules-right #col3
.mdkfwdarr{display:none !important}.minimize-modules-left #col2 .box .menuLevel1 .menuText,
.minimize-modules-left #col2 .separatoricon-url,
.minimize-modules-right #col3 .box .menuLevel1 .menuText,
.minimize-modules-right #col3 .separatoricon-url{display:inline !important}.minimize-modules-left #col2 .box,
.minimize-modules-right #col3
.box{}.moduleflip-vert{display:block;top:20px !important;right:1% !important}#col2 .moduleflip-vert .flipmodimage,
.minimize-modules-right #col3 .moduleflip-vert
.flipmodimage{background-image:url(/tikiwiki/styles/layout/../../pics/icons/resultset_first.png) !important}#col3 .moduleflip-vert .flipmodimage,
.minimize-modules-left #col2 .moduleflip-vert
.flipmodimage{background-image:url(/tikiwiki/styles/layout/../../pics/icons/resultset_last.png) !important}.minimize-modules-left #col2 .separator,
.minimize-modules-right #col3
.separator{padding:0;background:transparent;border:none}.minimize-modules-left #col2 .box-shadow,
.minimize-modules-left #col2 .box,
.minimize-modules-right #col3 .box-shadow,
.minimize-modules-right #col3
.box{width:70px !important}.minimize-modules-left #col2 .content,
.minimize-modules-right #col3
.content{margin:0
!important}.minimize-modules-left #col2 .option,
.minimize-modules-left #col2 .optionline,
.minimize-modules-right #col3 .option,
.minimize-modules-right #col3
.optionline{margin:0
!important;padding:0
!important}.mdkverbar-with-icons
.mdkitem{background:none}.mdkverbar-with-icons .mdkitem
a{padding:0;width:175px}.mdkverbar-with-icons .mdkitem
img{vertical-align:middle}.minimize-modules-left #col2 .mdkverbar-with-icons .mdkitem,
.minimize-modules-left #col2,
.minimize-modules-right #col3 .mdkverbar-with-icons .mdkitem,
.minimize-modules-right
#col3{width:60px !important}.minimize-modules-left #col2 .mdkverbar-with-icons .mdkitem a,
.minimize-modules-right #col3 .mdkverbar-with-icons .mdkitem
a{width:50px !important;overflow:hidden}.minimize-modules-left #col2 .cssmenu_vert,
.minimize-modules-left #col2 .cssmenu_vert div > ul,
.minimize-modules-left #col2 .cssmenu_vert li.menuLevel0,
.minimize-modules-left #col2 .cssmenu_vert li.menuLevel0 > a,
.minimize-modules-right #col3 .cssmenu_vert,
.minimize-modules-right #col3 .cssmenu_vert div > ul,
.minimize-modules-right #col3 .cssmenu_vert li.menuLevel0,
.minimize-modules-right #col3 .cssmenu_vert li.menuLevel0>a{width:44px}.minimize-modules-left #col2 .cssmenu_vert li.menuLevel0>ul{margin-left:55px}.minimize-modules-right #col3 .cssmenu_vert li.menuLevel0>ul{margin-right:55px}.fullscreen .tellafriend,
.fullscreen
.share{margin-right:100px;margin-top:2px}.share
img{margin-bottom: -5px}#rss{padding:1em
1em 0}#power{padding:0
1em 1em}#credits{display:inline}#show-errors-button{z-index:1024}#errors{z-index:1023}.error .rbox-data .adminoption,
.error .rbox-data
.adminoptionlabel{display:inline}ul.jumplinks{font-size:0.8em;list-style-type:none}ul.jumplinks,.jumplinks{position:absolute;top: -9000px;left: -9000px;z-index:9}ul.jumplinks a:focus,
ul.jumplinks a:active{position:absolute;top:9010px;left:9010px;padding:5px;font-weight:bold;border:2px
solid #191970;width:6em;z-index:9}.fullscreenbutton,#fullscreenbutton{position:absolute;top:2px;right:10px;z-index:10;font-size:80%}#tiki-clean{text-align:left;padding:1em}.hidden{position:absolute;left: -10000px;top:0;width:1px;height:1px;overflow:hidden}.floatlist{clear:left;list-style-type:none;margin:0;padding-left:0}.floatlist
li{float:left}#attzone,#comzone{display:none}#attzoneopen,#comzoneopen{display:block;margin-top:10px}#attzone{margin-top:10px}#edithelpzone{display:none}#rules-copy-panel{display:none}.clear,#clear{clear:both}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:inline-block}/*\*/.clearfix{display:block}/**/#overdiv
table{width:auto !important}.imagerank{margin:10px
5px}#debugconsole{position:absolute;top:0;left:20px;width:60%;height:auto;z-index:1000}#debugconsole
table{width:100%}#debugconsole input[type="text"]{width:auto}.mini{width:100%;text-align:center;margin-left:auto;margin-right:auto}a.tikihelp,a.tikihelp:visited{border:0;vertical-align:text-top}a.tikihelp:hover{cursor:help;vertical-align:text-top}#rss img,a.icon,img.icon{vertical-align:middle}.iconmenutext{white-space:nowrap}.findtable{text-align:center;margin-bottom:10px}.findtitle,.findexactmatch,.findnumrows,.findtypes,.findlang{display:inline;vertical-align:middle}.findtable ul
li{float:left}.alphafilter{display:block;margin:10px
0;text-align:center}.textarea-toolbar{width:99%}.textarea-toolbar
img.icon{vertical-align:middle;margin:1px
3px}.helptool-admin{float:right;padding-left:8px;margin-left:8px;border-left:medium double #bfbfbf}a.toolbar{padding:4px
2px;display:inline-block}.toolbar-list{padding:0
0 0 .5em;line-height:20px;border-left:medium double #bfbfbf}.toolbars-picker{position:absolute;width:288px;z-index:300;line-height:12px}.toolbars-picker
a{padding:0;display:inline-block;border:#fff 1px solid}.toolbars-picker a:hover{border:#f00 1px solid}#tikihelp{position:absolute;height:100%}.help_sections{width:360px;overflow:hidden !important;height:500px}.help_section{}.help_sections
h3{}.help_sections>div{font-size: .9em;height:100%;overflow:auto}#site_report{text-align:center}.plugin-form-float{position:fixed;left:5%;right:365px;top:5%;max-height:90%;overflow:auto;z-index:1000}.icon_edit_section{float:right}.box{overflow:hidden}h3.box-title{display:block;padding-top:0;position:relative}.moduleflip,
.box-title span
img.flipmodimage{display:none !important;position:absolute;right:1%;top:0}.box:hover .moduleflip,
.box:hover .box-title span
img.flipmodimage{display:block !important}.box:hover
img.flipmodimage{border:1px
solid transparent}.box-data
table{width:100%}.box-data
a.linkmenu{display:block}.box-data ol,
.box-data
ul{padding-left:2em;padding-right: .6em;overflow:hidden;margin-top:0;margin-bottom:0}.box-data
ul{padding-left:1.3em}.modcontrols{display:block;float:right;width:64px;height:16px}.box-minichat{width:100%}.minichat,.minichatdiv,.minichatchan{overflow:auto}.box-switch_lang .box-data
img{padding: .2em;vertical-align:middle}.cbox,.cbox-data,.rbox-title,.rbox-data{overflow:hidden}.rbox-title{display:inline-block;width:auto;z-index:1;position:relative;bottom: -1px}.rbox-title
.icon{padding:0
.35em 0 0;vertical-align:top}.rbox-data{position:relative;top:0;z-index:0}.rbox-close{float:right;cursor:pointer}.halffloat .box,
.wikitext .halffloat
.box{float:left !important;clear:none;width:48%;margin:0
2% 0 0}.thirdfloat .box,
.wikitext .thirdfloat
.box{float:left !important;clear:none;width:31%;margin:0
2% 0 0}.quarterfloat .box,
.wikitext .quarterfloat
.box{float:left !important;clear:none;width:22%;margin:0
2% 0 0}#autosave_preview>div{height:30ex;overflow-y:auto;overflow-x:hidden}.normal,.normalnoborder,.admin{padding:0;margin:0;width:100%}td{vertical-align:top}td.third,th,td.heading,tr.diffheader{text-align:center}.tabs{margin:10px
3px -1px 3px;padding:0;position:relative;z-index:2}.tabs
br{display:none}.tabs
.container{float:left;width:92%}.tabmark{display:inline;margin:0;margin-right:5px;padding:1px
0;cursor:pointer}.tabmark
a{border-bottom:0;padding:1px
5px;text-decoration:none}.tabactive{border-bottom:none;border-top-width:2px;position:relative;top:0}.tabinactive{border-bottom:none;position:relative;top:0}.tabcontent{z-index:1;position:relative;padding:4px;top:0}.tabcontent
table{text-align:left;width:auto}.tabcontent
.normal{width:100%}.tabcontent table
td{padding:5px}#description,.description{display:block}#pageid{float:left;clear:both}#cachedpage{float:right}.wikiactions{white-space:nowrap !important}.split{clear:both}#page-bar{display:block;margin-top:0}#page-bar>span{float:left}.hrwikibottom{clear:both;height:0px;visibility:hidden}.wiki-edithelp{display:none}.wikiplugin-split{border:none;clear:both}.wikiplugin-split
.codelisting{width:95%}.footnotearea{margin-top:2em;font-size:0.9em}#tiki-center
.versionav{padding:0;border:0;margin-bottom: -1px}.versionav
.button{margin-bottom:0}#tiki-center
.versioncontent{padding:1em}table.wikiplugin_tracker
td{vertical-align:middle;padding-bottom:1.2em}.wikiplugin_edit
textarea{width:99%;height:150px}ul.floatleft{display:block;list-style:none;padding:0;text-align:left;height:20px;margin-top:0}ul.floatleft
li{float:left;padding:4px
2px}.editdate
ul.floatleft{margin-top:8px}.plugin-mouseover{position:absolute;z-index:500;display:none;padding: .4em}.fancysort
.header{cursor:pointer}.imgbox{padding:5px}.thumbcaption{padding:2px}.magnify{float:right;padding-top:0.1cm}img.magnify{height:12px;width:12px}.tocnav{margin-bottom:4px;clear:both}#tocnavicons{float:left}#tocnavaddpage{float:right}#tocnavlinks{clear:both}.fancytoclevel{list-style-image:url(/tikiwiki/styles/layout/../../img/icons/footprint.gif)}.toc
*{list-style:none}.diff
td{overflow-x:auto;overflow-y:visible;white-space:normal}.article{margin-bottom:40px}.articletitle
h2{margin:0}img.topicimage,img.articleimagenofloat,img.articleimage{padding:2px
0;margin-bottom:10px}img.articleimagefloat{margin-right:4px;float:left;padding:2px
0;margin-bottom:10px}img.articleimage{margin-right:4px;float:left;clear:right;padding:2px
0;margin-bottom:10px}.articletrailer{position:relative;text-align:center;margin-top:1.1em}.articletrailer
.wikitopline{float:left}.article
.status{position:absolute;left:0}.articletrailer
span{display:inline-block;margin:auto;white-space:nowrap}.article
.actions{position:absolute;right:0;top:0;text-align:right;white-space:nowrap}.article .actions
form{display:inline}.blogheading{display:block;width:100%;clear:both}.blogdesc{display:block;width:40%}.bloginfo{display:block}.blogactions{float:right}.postinfo{margin-bottom:20px;margin-top:10px}.postinfo
div{margin-top:30%}small.description{display:block}div.posthead{text-align:left;padding:3px}span.posthead{display:block}body.tiki_blogs
.post_single{padding-bottom:30px}body.tiki_blogs .post
.postfooter{clear:both;float:right}.related_posts{margin-top:3em}.related_posts
h4{margin:0}body.tiki_forums
.normal{margin:auto}#forumpost{display:none}#forumpostopen{display:block}.post
.postbody{clear:both;margin:0;margin-top:5px;padding:0}.post .postbody
.content{padding:0
3px 3px 3px;margin:0;text-align:left}.post .postbody-title{overflow:hidden}.post .postbody-title
.checkbox{float:left}.post .postbody-title
.title{margin-left:5px;margin-top:3px}.post
.author{float:right;text-align:right;vertical-align:top}.post
.author_post_info{padding-left:4px;padding-bottom:4px}.post .author_info
.icons{display:block}.post .author_info .icons
.actions{margin-right:10px}.commentStyle_headers
.author_info{float:left}.post .postbody-title
.actions{float:right}.postbody-content{padding:3px}.postbody
.content{margin:5px}.post .postbody
.attachments{clear:both;margin-top:5px}.post .postbody .attachments
img{vertical-align:text-bottom}.post
.postfooter{text-align:right;width:100%;margin-top:5px}.post .postfooter
.rating{display:inline}.post .postfooter .actions,
.post .postfooter .author_actions,
.post .postfooter
.status{display:inline;vertical-align:top}.post .postfooter .actions,
.post .postfooter
.author_actions{float:left;margin-left:5px}.post .postfooter
.status{float:right;margin-right:5px}.post .postfooter .actions
.share{float:right;margin:1px
2px 2px 5px}.post .inner>.postfooter{clear:both}.post
.avatar{float:right;margin-bottom:5px;margin-left:4px;padding:3px}.postfooter-nav{width:100%}.postfooter-nav{display:block;margin-top:1em}.postfooter-nav .postfooter-nav-prev{text-align:left;float:left;width:50%}.postfooter-nav .postfooter-nav-next{text-align:right;float:right;width:50%}.sub_comment{padding-left:20px}.sub_comment_area{clear:both}.forum_actions
.actions{clear:both;padding:3px;vertical-align:middle}.forum_actions .actions
.action{margin-right:10px}.forum_actions
.headers{vertical-align:bottom}.forum_actions .headers
.title{float:left;border-bottom:0;padding:1px}.forum_actions .headers
.infos{float:right;padding-top:2px}.thread_pagination{text-align:center;margin-bottom:10px}.nb_replies{white-space:nowrap}.post_preview,.top_post{margin-bottom:15px}#comzone{display:none;margin:5px
0;padding:0}#comzoneopen{display:block;margin:5px
0;padding:0}.commentstitle{font-weight:bold;font-size:1.2em}dl.note-list{margin: .5em}#note-editor-comment,
.note-list .postbody-title{padding: .5em}.note-list .title
a{font-size:larger;font-weight:bold}.note-list
.actions{float:right}.note-list
.author{font-size:smaller;text-align:right}textarea#editpost2{width:98%}.subcomment{margin-left:10px}.commentsedithelp{}.galtable{width:100%}body.tiki_galleries
.findtable{display:inline}.oddthumb{border-collapse:collapse}.eventhumb{border-collapse:collapse}.eventhumb
img{margin-left:6px;margin-right:6px}#browse_image{width:100%}img.athumb{border:0;margin:auto}.showimage{margin:5px
0;width:100%;text-align:center;padding:6px}.imgaldescr{margin:10px}.sorttitle{margin-left:10px}#browse_image{width:100%}#random_image{text-align:center;margin:1em
auto}.fgallisting table
td{padding-left:2px;padding-right:2px}opaque .box-title,
.opaque .box-data{width:auto}.opaque
.iconmenu{display:block;white-space:nowrap}body.filegal_popup #tiki-center{margin:0
1em}.statuson,.statusoff{padding:3px
2px 0px 2px;vertical-align:middle;height:15px}.multiselect{vertical-align:middle;padding:0;height:auto;overflow:visible}.multiselect
table{width:100%}.multiselect
.option{white-space:nowrap;width:33.33%;display:inline-block;overflow:hidden;margin: -1px}.multiselect .selection
span{display:inline}.multiselect
ul{list-style-image:none;list-style-position:outside;list-style-type:none;text-align:left;margin:0;padding:0}.multiselect
li{margin-left:3em}.multiselect  ul.root>li{margin:0
1em 0.5em .5em;display:block;float:left}.multiselect
img{vertical-align:middle}.multiselect
.selection{display:none;overflow:auto;position:relative;height:auto;max-height:7em;z-index:1000;width:100%;left: -1px;float:left;margin:0;padding:0}.categpath{display:block}a.categpath{display:inline}.catfeatures{margin-left:0;padding:0}.catfeatures .catitems
li{display:inline;margin-right:7px}.catitems
li{display:inline}.freetaglist{padding:0
20px 8px;text-align:right}.freetagsearch{margin:10px
0;text-align:center}.freetagskeywords{margin:10px
0}.freetagsort{margin:10px
0}.freetagresult{margin-left:10%;width:70%}.freetagitemlist{margin-top:10px;padding:0;text-align:left}.freetagitemlist
h3{margin:0;padding:0}.freetagitemlist
a{text-decoration:none}.freetagitemlist
img{float:right}.freetagitemlist a:hover{text-decoration:none}.freetagitemlist
.type{margin-left:10px}a.freetag,a.freetag:hover{margin:auto}li.freetag{list-style:none !important;display:inline !important;margin:0;padding:0}ul.freetag{margin:0;padding:0;display:inline !important}.freetag
a{display:inline !important}.freetagObjectOdd{margin:2px;position:relative}.freetagObjectEven{margin:2px;position:relative}.freetagObjectType{position:absolute;top:0;right:0}.freetagObjectName
a{text-decoration:none}ul.freetagged
li{float:left;clear:left;list-style:none}.searchresults{list-style:none;padding:0;margin:0}.searchresults
li{margin:10px
0 0}.pollresults{width:100%}#pollopen{display:block}#pollzone{display:none}#polledit{display:none}.box-shoutbox table
td{font-size: .8em}.tiki_sheet table
td{padding:0;border-color:#909090;border-width:1px;border-style:solid}.plugin-desc{padding:5px}.plugin-sample{padding:5px;font-family:"Courier New",Courier,monospace}.plugin-sample .plugin-param{padding-left:15px}.center{text-align:center}.justify{text-align:justify}.right{text-align:right}#ajaxLoadingBG{display:none;z-index:9999;position:absolute}#ajaxLoading{display:none;z-index:10000;position:absolute;text-align:center;vertical-align:top;height:80px;width:220px}#cboxTitle
div{overflow:auto;margin:3px
100px 0}#autosave_preview_grippy{z-index:3}#cluetip-close{text-align:right;margin:0;padding-right: .5em}.cluetip-fullhtml{margin:0;padding:0}.box-webmail_inbox
img.icon{vertical-align:middle}.webmail_list
.button{display:inline-block}.webmail_message_headers{width:100%}.webmail_message_headers
th{width:6em}@media
print{.tikihelp,.navbar,categbar,.tabstoggle,.tabs,#show-errors-button{display:none}}.tabstoggle{font-size: .8em;position:relative;width:8%;margin-top:2px}.tabstoggle
.button{margin:0;padding:0;position:absolute;right:0}.treeTable{padding-left:19px}.treeTable
.checkBoxHeader{font-size: .8em}.treeTable .subHeader
td{font-weight:bold}.treeTable .parent
td{font-style:italic}.thumbnailcontener{border:solid 1px #d3d3d3;margin:1px;padding:2px;text-align:center;display:inline-block;vertical-align:top}*:first-child+html
.thumbnailcontener{float:left}* html
.thumbnailcontener{float:left}.ui-dialog
label{display:block}.ui-datepicker{z-index:1024}.ui-accordion-header{padding-left:28px}.pref_dependency{margin-left:20px;font-size:95%}.dropzone{}.dropzone>div:hover{}.podcast{margin-left: -25px}.podcast
.moduledescription{margin-left:25px}.deleted{text-decoration:line-through}#intertrans-indicator{position:fixed;left:0;right:0;top:0;height:40px;padding:1em}#intertrans-form{position:fixed;top:10%;bottom:10%;left:10%;right:10%;overflow:auto;display:none;z-index:2000;padding:1em}#intertrans-form
table{width:98%;padding:1em}#intertrans-form table
input{width:100%}.intertrans
td{width:50%}.items
img{margin:0}.items
a{display:block;float:left;margin:20px
15px}html#print{background:#fff;color:#000}body.db_error{background:none}body.fullscreen{text-align:left;background:#fff}#tiki-clean{background:#fff;color:#000}body.wikitext{background:#fff;color:#000}#ajaxLoadingBG{background:transparent url(/tikiwiki/styles/layout/../../img/overlay-light.png)}#ajaxLoading{font-size:2em;font-weight:bold;color:#333;background:transparent url(/tikiwiki/styles/layout/../../img/loading-light.gif) no-repeat 50% 50%}#cboxTitle{background-color:#fff}#autosave_preview_grippy{background-color:#ccc;background-image:url("/tikiwiki/styles/layout/../../pics/icons/shading.png")}select:disabled,option:disabled,input:disabled,textarea:disabled{color:#888 !important}fieldset{margin-bottom:2px;padding:0.3em}button,.button,.button.highlight{margin:1px
2px;padding:2px}.button a,
.button a:visited,
.button a:hover,
.button input,
.calbuttonBox
a{padding:1px
4px}#genPass .button a,
#genPass .button a:visited,
#genPass .button a:hover{padding:1px
4px !important}input[type=reset],input[type=submit],input[type=reset]:hover,input[type=submit]:hover{padding:1px
4px;margin-right:1px}.highlight,
.button.highlight
a{background:#FC0;color:#000}.button.highlight{background:inherit}ul.jumplinks a:active{background:#ffe4e1;color:#0000cd}.highlight{padding:0
.3em}input[type=checkbox],input[type=radio]{border:0}#header-top{position:relative}#siteheader{background:transparent}#customcodewith_ad{width:400px}#sitead.floatright{padding-right:40px}#sitead.floatleft{padding-left:40px}#sioptionscentered
#sitead.floatleft{padding-left:10px}#sitelogo
img{margin-top:10px}#bannertopright{padding-right:4px}#sitelocbar{float:left;padding:2px
2px 3px 10px;font-size:small}#siteloginbar{text-align:right;position:absolute;bottom:3px;right:10px;font-size:90%}.pass a,
.pass a:visited,
.pass a:hover,
.register a,
.register a:visited,
.register a:hover,
.logged-in a,
li.login_link ul li
a{background:none !important}input:-webkit-autofill{background-color:#FAFFBD !important;background-image:none !important;color:#000 !important}.tellafriend,.share{text-align:right}a.flip,
a.flip:visited,
.tellafriend a,
.share a,
.tellafriend a:visited,
.share a:visited,
a.flip:hover,
.tellafriend a:hover,
.share a:hover{font-size:80%;text-decoration:none}#power{font-size: .9em}#edithelpzone
code{font-size:1.2em}.attention{color:red}.openid_url{background:#fff url(/tikiwiki/styles/layout/../../img/icons/login-OpenID-bg.gif) 1px 1px no-repeat}.bannertext{font-size: .95em;text-decoration:none}#debugconsole{background:#333;color:#fff;padding:5px;border:2px
solid #aaa;font-size:1em}#debugconsole
form{color:#dd6}#debugconsole
a{color:#ddd}.cachedStatus,.mini{font-size: .9em}.prevnext{font-size:1em;padding:1px
6px}#rss
small{font-size:1em}#footer
.rsslist{width:190px;text-align:left;margin:auto}.findtable{text-align:center;margin-bottom:10px}.findtitle,.findexactmatch,.findnumrows,.findtypes,.findlang{margin:0
1px}.findtitle
input{margin-left:2px}.findtable
ul{list-style:none}.alphafilter{display:block;margin:10px
0;text-align:center}.alphafilter
a{font-size:120%}.alphafilter
.highlight{font-weight:bold;font-size:130%}.top_actions{text-align:right;margin-top:5px}.categories{margin:0;padding:0}.categories
li{list-style:none;margin:0;padding:0}.inline_syntax{font-family:"Lucida Console";color:#a52a2a}.textarea-toolbar>div{background-color:#eee;border:#eee outset 1px}.toolbars-picker{background:#fff;border:thin solid #000;color:#000}.toolbars-picker
a{color:#000}.toolbars-picker a:hover{background:#ccc;color:#000}.help_fullscreen_icon{margin-right:8px}.help_close_icon{margin-right:20px}.help_section_select{font-weight:bold;font-size:120%;background:#e7e9ea;color:#000}.help_sections{padding:2px;background:#aac9e9}.help_section{background:#eee;color:#000}#site_report{text-align:center}#site_report
a{border-left:1px solid #696969;border-right:1px solid #696969;padding:0
5px;font-size:smaller}.editplugin{}.plugin-desc{padding:5px}.plugin-sample{padding:5px;font-family:monospace}.plugin-sample .plugin-param{padding-left:15px}.plugin-form-float{background:white;color:black;padding:10px;border:solid 2px black}.minichatdiv{font-size: .9em}.box-switch_lang .box-data
img.highlight{padding: .1em;border: .1em solid #f00}.box-switch_lang .box-data
.highlight{border: .1em solid #f00}.box-switch_lang
li{list-style:none}.box-switch_lang .box-data
a.highlight{font-weight:bold}.box-switch_lang
ul{padding:0
1em}.box-search input[type=submit],
.box-search input[type=submit]:hover{font-size:smaller;padding:0.1em 0.3em;margin:0.2em}a.icon,img.icon{border:0;background:transparent}.tabcontent
table{background:transparent}.admin #content1 .tabcontent
.cbox{background:transparent}.halffloat > .box,
.wikitext .halffloat > .box,
.thirdfloat > .box,
.wikitext .thirdfloat > .box,
.quarterfloat > .box,
.wikitext .quarterfloat>.box{background:none;border:none}.cbox-title{padding:3px
3px 0 3px}.cbox-data{padding:0
3px 3px 3px}.rbox{margin:1em
.3em .3em .3em}.rbox-title,.rbox-data{padding: .3em .6em;border:1px
solid #000;background:#eee;color:#000}.rbox-title{border-bottom-color:#eee;padding:0.35em 0.9em 0.1em;font-weight:bold}.comment .rbox-title,
.comment .rbox-data{}.note .rbox-title,
.note .rbox-data{}.tip .rbox-title,
.tip .rbox-data{}.error .rbox-title,
.errors .rbox-title,
.warning .rbox-title{background:#ffc;color:#000;border-color:#f00;border-bottom-color:#ffc}.error .rbox-data,
.errors .rbox-data,
.warning .rbox-data{background:#ffc;color:#000;border-color:#f00}.error .rbox-data
label{color:#000}#error{background:yellow;color:red}.warning a,
.warning a:link,
.warning a:visited{color:#b93c2e}.simplebox{padding:3px}.odd{background:#f0f0f0;color:#000}.even{background:#fff;color:#000}.normal,.admin{border-collapse:collapse}.normal td,
.wikitable td,
.odd,
.even,
.form,
.formcolor td,
.editblogform
td{margin:0;padding:3px}.normal td,
.wikitable td,td.odd,td.even{padding:0.2em;border-collapse:collapse}td.form{padding:0.2em}caption{font-weight:bold}.numeric,td.numeric{text-align:right}.tabactive{border:solid 1px}#cachedpage{font-size:small}body.tiki_wiki
#comments{padding:1em}p.editdate{padding-bottom:5px;padding-top:10px;font-size:0.9em;font-style:italic}.wikitext
.fancylist{margin: .5em 0;padding:0}.wikitext .fancylist
li{font:italic 2em Verdana, Geneva, Arial, Helvetica, sans-serif;line-height:27px;list-style-position:inside;margin-left:10px;padding:6px
0 7px 15px}.wikitext .fancylist li
p{display:inline;font-size:50%;font-style:normal;margin-left:12px}[class].wikitext .fancylist li
p{margin-left: -3px}.wikitext .rbox-data
ul{list-style-type:disc;margin-left:15px;padding-left:15px}.mandatory_star{font-weight:bold;color:red}.trackerplugindesc{color:#BEBCBC;font-style:italic}.charCount{color:#BEBCBC;font-style:italic}.plugin-mouseover{background:#F5F5F5;border:1px
solid #bbb}.imgbox{border:1px
solid #a9a9a9;background-color:#f9f9f9}.thumbcaption{font-size:90%}.toc{padding-left:2em;border-top:1px dotted #a9a9a9;border-bottom:1px dotted #a9a9a9;margin-bottom:4px}.toc
*{border:none}.diff
td{border:1px
solid #696969}.diff
div{border-top:1px solid #696969}.diffbody{color:#000}.diffadded{background:#cfc;color:#000;max-width:400px}.diffdeleted{background:#fcc;color:#000;text-decoration:line-through;max-width:400px}.diffinldel{background:#fcc;text-decoration:line-through}.diffbody{background:#f2f4f5}.diffchar{color:red}.diffadded
.diffchar{color:blue}.plugin-desc{padding:5px}.articlesource{margin-top:5px;font-style:italic;font-size:90%}.breadcrumbs{font-size:90%;font-style:italic}.blogdesc{padding:8px;margin-top:8px;margin-left:6px}.blogtools{padding:3px;text-align:right}a.blogt,a.blog:visited{border:0;text-decoration:none}small.description{display:block}.post
.title{margin-top:0}.postfooter{margin-bottom:2em}.author_info{padding:5px
0px 15px 0px}dl.note-list{background:#fff;color:#000;border:solid thin black}#note-editor-comment{background:#fff;color:#000;border:#999 1px solid}.note-editor-text{background:#eee;color:#000}.note-list .postbody-title{background:#ccc;color:#000}.note-list .title
a{color:#000}.post-approved-n{border-left:3px dotted blue}.post-approved-r{border-left:3px double red}.post-approved-r .content
*{background:url(/tikiwiki/styles/layout/../../img/icons2/dots.gif)}#wikihelp-tab table
td{padding:2px}p.norecords{font-weight:bold}.imagetitle{font-weight:bold;font-size:200%}.opaque{border:1px
solid;background:#fff;color:#000}.opaque .box-title{border-bottom:1px solid;padding:3px
3px 0 3px}.opaque .box-data{padding:0
3px 3px 3px}.multiselect
.odd{color:#000;background:#f4f6f7}.multiselect odd:hover{background:#fff7e6}.multiselect
.even{color:#000;background:#e7e9ea}.multiselect .even:hover{background:#f0f2f3}.multiselect div.odd,
.multiselect
div.even{border:1px
solid #80b1e2}.multiselect
.selection{border:1px
solid #80b1e2;background:#fff}.multiselect,
.multiselect
.selection{border:1px
solid transparent}.multiselect:hover,
.multiselect .selection:hover{border:1px
solid #80b1e2}.catfeatures{font-weight:bold;list-style:none}.catfeatures
li{text-transform:capitalize}.catitems{margin-left:15px;padding:0;list-style:none}.catitems
li{margin-right:7px}.freetaglist
a{text-decoration:none}.freetagitemlist
.type{font-weight:bold;font-size:0.8em}a.freetag,a.freetag:hover{background:none;border:0}a.freetag_1{text-decoration:none;font-size: .8em}a.freetag_2{text-decoration:none;font-size: .9em}a.freetag_3{text-decoration:none;font-size:1em}a.freetag_4{text-decoration:none;font-size:1.2em}a.freetag_5{text-decoration:none;font-size:1.4em}a.freetag_6{text-decoration:none;font-size:1.6em}a.freetag_7{text-decoration:none;font-size:1.8em}.morcego_embedded{border:1px
solid;text-align:center}.faqlistquestions{margin-bottom:20px}.faqqa{margin-bottom:20px}.faqquestion{font-weight:bold;padding:2px
12px 0 12px}.faqanswer{padding:0
12px 4px 12px}.sub_comment_area{background:url("/tikiwiki/styles/layout/../../img/edge.gif") no-repeat top left}.questionblock{margin-bottom:10px}.quizquestion{margin-bottom:5px}.quizdescription{margin-bottom:10px}.quizanswer{margin-bottom:10px}.shoutboxmsg{margin-bottom:0;padding:4px;padding-bottom:1px}.shoutboxmodmsg{font-size: .95em;margin:0
5px 4px 5px;padding-top:5px;padding-bottom:1px}textarea.tshoutbox{font-size: .95em;width:90%}.dircategs{font-size:95%}.dirsublink{font-size: .95em}.dirsite{margin-bottom:10px;padding:4px}.dirsitetrail{font-size:95%}.dirsitecats{font-size:95%}.prio1,.prio2,.prio3,.prio4,.prio5{border:1px
solid #a9a9a9;padding-left:2px}.prio1{background:#f7f9ca}.prio2{background:#f7f9ea}.prio3{background:#f7f9fa}.prio4{background:#f7f9fd}.prio5{background:#f7f9ff}.messureadflag{background:#a9a9a9;padding-left:5px}.messureadhead{background:#dcdcdc;margin-top:2px}.messureadbody{margin-top:5px;background:#dcdcdc}.readlink{font-size: .95em;color:black}.highlight_word_0{color:#ff6;background:#666}.highlight_word_1{color:#f99;background:#666}.highlight_word_2{color:#a0ffff;background:#666}.highlight_word_3{color:#f6f;background:#666}.highlight_word_4{color:#9f9;background:#666}.tiki_admin .note .rbox-data li.even,
.tiki_admin .note .rbox-data
li.odd{list-style:none}.mods_revision{background:#b5cfb5;color:#000}.mods_update{background:#dcdeac;color:#000}.cluetip-default{background:#bed8f1;color:#000}.cluetip-default #cluetip-outer{background:#bed8f1}.cluetip-default h3#cluetip-title{background:#1b3a50;color:#fff;font-weight:bold}.cluetip-default #cluetip-title
a{color:#bed8f1;font-size:0.95em}.cluetip-default #cluetip-inner{padding: .9em}#cluetip-close{background:#fff;color:#900}.cluetip-fullhtml{margin:0;padding:0}.webmail_item{font-size: .9em;border:#999 solid 1px;margin:1px
0;padding:0
1px}.webmail_refresh_message{font-size: .8em}.webmail_list
.odd{background:#eee}.webmail_list
.button{background:#fff;border:1px
solid #666;padding:0
2px}.webmail_list
.webmail_read{background:#aaa}.webmail_list
.webmail_replied{background:#888}.webmail_list
.webmail_taken{border:#900;color:#900}.webmail_message{background:#fff}.webmail_mono{font-size:1.1em;font-family:"Courier New",Courier,monospace}.webmail_message_headers{background:#fff;width:100%;padding:0
5em .5em 0}.webmail_message_headers
th{font-style:italic;text-align:right;border:none;background:transparent}.treeTable
.checkBoxHeader{font-size: .8em}.treeTable .subHeader
td{font-weight:bold}.treeTable .parent
td{font-style:italic}.fancysort
th.headerSortUp{background-repeat:no-repeat;background-position:right;background-image:url(/tikiwiki/styles/layout/../../pics/icons/resultset_up.png) !important}.fancysort
th.headerSortDown{background-repeat:no-repeat;background-position:right;background-image:url(/tikiwiki/styles/layout/../../pics/icons/resultset_down.png) !important}.fancysort
th.header{background-repeat:no-repeat;background-position:right;background-image:url(/tikiwiki/styles/layout/../../pics/icons/resultset.png)}.dropzone{color:#000;background-color:#fff;border:#999 solid 2px;border-bottom-color:#ccc;border-right-color:#ccc}.dropzone>div:hover{background-color:#eee}.author0{color:black}.author1{color:blue}.author2{color:red}.author3{color:green}.author4{color:maroon}.author5{color:yellow;background:gray}.author6{color:aqua;background:gray}.author7{color:fuchsia;background:gray}.author8{color:teal}.author9{color:purple}.author10{color:white;background:navy}.author11{color:olive}.author12{color:gray}.author13{color:navy}.author14{color:silver;background:blue}.author15{color:lime;background:gray}.mandatory_note{font-style:italic;color:red;margin-top:10px}.popup-backlinks{display:none;width:100px}.trackerCategoryName{white-space:nowrap}#captchaImg{border:1px
solid black}#intertrans-indicator{background-color:#ade;color:#000}#intertrans-form{background-color:#eff;border:#799 solid 2px;color:#000}label.error{background:url('/tikiwiki/styles/layout/../../pics/icons/error.png') no-repeat;color:red;padding-left:20px}#centercolumn
.freetaglist{padding:0
10px}a.freetag{padding:0
4px;margin:1px}a.freetag:hover{background-color:#fff;margin:0;border:1px
solid #999}.cssmenu_horiz,
.cssmenu_horiz * ,
.cssmenu_vert,
.cssmenu_vert * ,
.cssmenu_vert
ul{margin:0;padding:0;padding-left:0;padding-right:0;list-style:none}.cssmenu_horiz,.cssmenu_vert{line-height:1.0em}.cssmenu_horiz ul,
.cssmenu_vert
ul{position:absolute;top: -999em;width:10em;z-index:751}.cssmenu_horiz ul li,
.cssmenu_vert ul
li{width:100%}.cssmenu_horiz li:hover,
.cssmenu_vert li:hover{visibility:inherit}.cssmenu_horiz li,
.cssmenu_vert
li{float:left;position:relative}.cssmenu_horiz a,
.cssmenu_vert
a{display:block;position:relative}.cssmenu_horiz li:hover ul,
.cssmenu_horiz li.sfHover ul,
.cssmenu_vert li:hover ul,
.cssmenu_vert li.sfHover
ul{left:0;top:2.5em;z-index:752}.cssmenu_horiz li:hover li ul,
.cssmenu_horiz li.sfHover li ul,
.cssmenu_vert li:hover li ul,
.cssmenu_vert li.sfHover li
ul{top: -999em}.cssmenu_horiz li li:hover ul,
.cssmenu_horiz li li.sfHover ul,
.cssmenu_vert li li:hover ul,
.cssmenu_vert li li.sfHover
ul{left:10em;top:0}.cssmenu_horiz li li:hover li ul,
.cssmenu_horiz li li.sfHover li ul,
.cssmenu_vert li li:hover li ul,
.cssmenu_vert li li.sfHover li
ul{top: -999em}.cssmenu_horiz li li li:hover ul,
.cssmenu_horiz li li li.sfHover ul
.cssmenu_vert li li li:hover ul,
.cssmenu_vert li li li.sfHover
ul{left:10em;top:0}.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected
a{font-style:italic}.cssmenu_horiz li.selected ul li a,
.cssmenu_vert li.selected ul li
a{font-style:normal}.cssmenu_horiz a.sf-with-ul,
.cssmenu_vert a.sf-with-ul{padding-right:2.25em;min-width:1px}.sf-sub-indicator{position:absolute;display:block;right: .75em;bottom:1.05em;width:10px;height:10px;text-indent: -999em;overflow:hidden;background:url(/tikiwiki/css/../lib/jquery/superfish/images/arrows-ffffff.png) no-repeat -10px -100px}a>.sf-sub-indicator{bottom: .8em;background-position:0 -100px}a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator{background-position: -10px -100px}.cssmenu_horiz ul .sf-sub-indicator{background-position: -10px 0}.cssmenu_horiz ul a>.sf-sub-indicator{background-position:0 0}.cssmenu_horiz ul a:focus > .sf-sub-indicator,
.cssmenu_horiz ul a:hover > .sf-sub-indicator,
.cssmenu_horiz ul a:active > .sf-sub-indicator,
.cssmenu_horiz ul li:hover > a > .sf-sub-indicator,
.cssmenu_horiz ul li.sfHover>a>.sf-sub-indicator{background-position: -10px 0}ul.sf-shadow
ul{background:url(/tikiwiki/css/../lib/jquery/superfish/images/shadow.png) no-repeat bottom right;padding:0
8px 9px 0}ul.sf-shadow ul.sf-shadow-off{background:transparent}.cssmenu_vert,
.cssmenu_vert
li{width:10em}.cssmenu_vert li:hover ul,
.cssmenu_vert li.sfHover
ul{left:10em;top:0}.cssmenu_vert .sf-sub-indicator{background-position: -10px 0}.cssmenu_vert a>.sf-sub-indicator{background-position:0 0}.cssmenu_vert a:focus > .sf-sub-indicator,
.cssmenu_vert a:hover > .sf-sub-indicator,
.cssmenu_vert a:active > .sf-sub-indicator,
.cssmenu_vert li:hover > a > .sf-sub-indicator,
.cssmenu_vert li.sfHover>a>.sf-sub-indicator{background-position: -10px 0}#col2,
#leftcolumn,
#col3,
#rightcolumn,
.cssmenubox,
.box-menustructure,
.box-data ul.cssmenu_vert,
.box-data ul.cssmenu_vert li
ul{overflow:visible !important}.navbar
.cssmenu_horiz{background:#BDD2FF;height:2.5em;padding-bottom:2.5em;position:relative}.navbar .cssmenu_horiz
li{background:#AABDE6;position:static}.navbar .cssmenu_horiz
a{border-top:none}.navbar .cssmenu_horiz li
ul{width:44em}.navbar .cssmenu_horiz li
li{background:#BDD2FF;position:relative}.navbar .cssmenu_horiz li li
ul{width:13em}.navbar .cssmenu_horiz li li
li{width:100%}.navbar .cssmenu_horiz ul
li{width:auto;float:left}.navbar .cssmenu_horiz a,
.navbar .cssmenu_horiz a:visited{border:none}.navbar .cssmenu_horiz
li.current{background:#BDD2FF}.navbar .cssmenu_horiz li:hover,
.navbar .cssmenu_horiz li.sfHover,
.navbar .cssmenu_horiz li li.current,
.navbar .cssmenu_horiz a:focus,
.navbar .cssmenu_horiz a:hover,
.navbar .cssmenu_horiz a:active{background:#BDD2FF}.navbar .cssmenu_horiz ul li:hover,
.navbar .cssmenu_horiz ul li.sfHover,
.navbar .cssmenu_horiz ul li:hover li,
.navbar .cssmenu_horiz ul li.sfHover li,
.navbar .cssmenu_horiz ul a:focus,
.navbar .cssmenu_horiz ul a:hover,
.navbar .cssmenu_horiz ul a:active{background:#D1DFFF}.navbar ul.cssmenu_horiz li li li:hover,
.navbar ul.cssmenu_horiz li li li.sfHover,
.navbar .cssmenu_horiz li li.current li.current,
.navbar .cssmenu_horiz ul li li a:focus,
.navbar .cssmenu_horiz ul li li a:hover,
.navbar .cssmenu_horiz ul li li a:active{background:#E6EEFF}.navbar ul.cssmenu_horiz .current ul,
.navbar ul.cssmenu_horiz ul li:hover ul,
.navbar ul.cssmenu_horiz ul li.sfHover
ul{left:0;top:2.5em}.navbar ul.cssmenu_horiz .current ul
ul{top: -999em}.navbar .cssmenu_horiz li li.current>a{font-weight:bold}.navbar .cssmenu_horiz ul .sf-sub-indicator{background-position: -10px -100px}.navbar .cssmenu_horiz ul a>.sf-sub-indicator{background-position:0 -100px}.navbar .cssmenu_horiz ul a:focus > .sf-sub-indicator,
.navbar .cssmenu_horiz ul a:hover > .sf-sub-indicator,
.navbar .cssmenu_horiz ul a:active > .sf-sub-indicator,
.navbar .cssmenu_horiz ul li:hover > a > .sf-sub-indicator,
.navbar .cssmenu_horiz ul li.sfHover>a>.sf-sub-indicator{background-position: -10px -100px}.navbar .cssmenu_horiz>li>ul{background:transparent;padding:0}.wiki.wikinew{color:red;font-size:1.5em}table.wikiplugin-split
.codelisting{width:95%}div.quoteheader{margin-left:20px;font-size:75%}div.quotebody{margin:10px;padding:0
0 0 44px;background:url(/tikiwiki/styles/ogre/quote.gif) no-repeat 5px 10px !important;background-position:8px 10px;border:1px
solid #363;border-left:4px solid #363;font-style:italic}.codelisting{font-family:"Courier New",Courier,monospace;padding:10px;font-size:10pt !important;background:#FFC;margin:4px
0;border:1px
dashed #a9a9a9;font-weight:bolder;overflow:auto}.codecaption{font-size:90%;padding:0
10px;position:relative;bottom: -5px;display:inline;border:1px
solid #696969;border-bottom:0;margin:0;color:#696969;background:#f5f5f5;font-weight:bold}plugincode{white-space:pre;white-space: -moz-pre-wrap !important;white-space: -hp-pre-wrap !important;white-space: -o-pre-wrap !important;white-space: -pre-wrap !important;white-space:pre-wrap !important;white-space:pre-line !important;word-wrap:break-word !important}#tiki-center
.versioncontent{border:1px
solid #527ca6;background:#fff}.minichat{border:1px
solid #527ca6;background:#D2ECD2}div.tocnav{background:#ebebeb;padding:3px}.diffheader{background:#696969;font-weight:bold}.simplebox pre, .simplebox
p{padding:0;margin:0}div.simplebox{border:1px
solid #527ca6;background:#fff;padding:1em}.wikitext{color:#2D2D2D;font-size:9.5pt !important;line-height:1.3;font-family:Arial,Helvetica,sans-serif}.wikitext
#dotbox{background-color:#D7A186;padding:5px;border:1px
dashed #000}.wikitext
.Layout_box2{border:1px
dotted rgb(93, 109, 93);margin:5px;padding:5px;background-color:rgb(238, 255, 238)}.wikitext
.Layout_box1{border:2px
solid rgb(1, 1, 1);margin:5px;padding:5px;background-color:rgb(210, 236, 210)}.wikitext
.Layout_box4{border:1px
dotted rgb(93, 109, 93);margin:5px;padding:5px;background-color:rgb(255, 240, 154)}.wikitext
.Layout_box5{border:1px
dotted rgb(93, 109, 93);margin:5px;padding:5px;background-color:rgb(210, 236, 210)}.wikitext
.Layout_box6{margin:0;margin-top:10px;margin-right:10px;border:1px
solid #c4c4c4;padding:5px;background-color:white;vertical-align:top}.Layout_box6{margin:0;margin-top:10px;margin-right:10px;border:1px
solid #c4c4c4;padding:5px;background-color:white;vertical-align:top}.wikitext
.Layout_box7{background:#DBEDFF;margin:5px;padding:5px;border:1px
solid #bbb;padding:5px}.wikitext
.Layout_box8{margin:0;margin-top:10px;margin-right:10px;border:1px
solid #dfdfdf;background-color:white}.wikitext
.Layout_box9{margin:0;margin-top:10px;margin-right:10px;border:1px
solid #999;background-color:white}.wikitext
.Layout_box10{margin:0;margin-top:10px;margin-right:10px;border:1px
solid #dfdfdf;background-color:white}.wikitext
.Layout_box11{margin:0;margin-top:10px;margin-right:10px;border:1px
solid #999;background-color:white}.wikitext
.Layout_box12{border:1px
solid #4F564B;background-color:#B2C3A7;padding:7px}.wikitext
.Layout_box13{background-color:#C4FEC2;border:1px
dashed #32CD32;margin:10px;padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:5px}.wikitext
.LayoutBox_MogreAddon{background-color:#EDF6DB;border:2px
solid #666D5D;margin:5px;padding:5px}.LayoutBox_MogreAddon{background-color:#EDF6DB;border:2px
solid #666D5D;margin:5px;padding:5px}.wikitext
.MogreAddon{float:right;clear:right;margin:0;position:relative;text-align:left;width:300px;background-color:#eef;border:1px
dotted #5D6D5D;padding:5px}.wikitext
.Layout_box_m1{background-color:#FEFFFE;border:2px
solid #ddd;margin:5px;padding:5px}.wikitext
.Layout_box_m2{background:#e5e5e5;margin:0;margin-top:10px;margin-right:10px;border:1px
solid #b3b3b3;margin:5px;padding:5px}.wikitext
.BloodyMess{width:75%;margin:auto;border:1px
solid DarkKhaki;background-color:PaleGoldenrod;padding:5px;margin-bottom:10px;text-align:center}.wikitext
.achtung{background-color:yellow;border-style:dashed;border-width:3px;border-color:red;padding:5px}.wikitext
.ogregallery{float:right;clear:right;margin:0;position:relative;text-align:left;width:320px;background-color:#EFE;border:1px
dotted #5D6D5D;margin:32px
0 5px 5px;padding:32px
2px 2px 2px}.wikitext
.ogregallery_img{position:absolute;top:0;right:32px;margin-right:-32px;margin-top:-32px;display:block;width:64px;height:64px}.wikitext
.todo_box{float:right;background-color:#FFF09A;border:2px
solid #ddd;margin:5px;padding:5px}.site_notice{float:center;background-color:#FFF09A;border:2px
solid #ddd;margin:5px;padding:5px}.wikitext
.nxOgre_box1{width:75%;margin:auto !important;padding:1em;border:1px
solid DarkKhaki;padding:5px;font-weight:normal !important;background-color:PaleGoldenrod !important;line-height:1.25 !important;font-size:10.5pt !important}.wikitext
.NxOgre_logo{float:left;display:block;width:343px;margin-right:-343px}.wikitext
.NxOgre_headline{float:right;display:block;font-size:14pt;padding-left:343px;color:#333;padding-left:1em}.wikitext
.NxOgre_intro{padding-top:2em;clear:both;text-align:center}.wikitext
.NxOgre_text{clear:both;width:35%;margin:2em
0 0 0 !important;padding:1em;padding:5px;font-weight:normal !important;line-height:1.5 !important;font-size:10.5pt !important;border:1px
solid #ccc;background-color:#fefeff}.wikitext
.NxOgre_h3_grey{border:0
!important;font-size:28pt;color:#999;font-weight:normal !important;letter-spacing:-2px !important;margin:0
!important;padding:0
!important}.wikitext
.NxOgre_h3_black{border:0
!important;font-size:28pt;color:Black;font-weight:normal !important;letter-spacing:-2px !important;margin:0
!important;padding:0
!important}.wikitext
.big{font-size:14pt}.wikitext
.bigBold{font-size:14pt;font-weight:bold}.wikitext
.nxOgre_sup{font-variant:small-caps;color:#555;font-size:11px;padding-left:2px}.wikitext
.Bloody_box1{style=width: 100%;border:1px
dashed DarkKhaki;paddding:3px;background-color:PaleGoldenrod}.wikitext
.Bloody_box2{background-color:#D2ECD2;border:1px
dotted #5D6D5D;padding:5px}.wikitext
.Spacegaier_box1{width:99%;border:1px
dashed;background-color:#ECE5B6;padding:5px}.wikitext
.Mogre_porting_header{background-color:#CAFEDB;padding-left:6px;padding-right:6px}.wikitext
.Mogre_porting_cpp{background-color:#FEDBCA;padding-left:6px;padding-right:6px}.wikitext
.Mogre_porting_cs{background-color:#DBCAFE;padding-left:6px;padding-right:6px}.wikitext
.Box_image{position:relative;bottom:35px}.wikitext
.Small{font-size:small}.wikitext
.freshGreen{border:1px
solid #ccc;background-color:#afa;margin:10px;font-size:70%;bottom:40px}.freshGreen{border:1px
solid #ccc;background-color:#afa;font-size:80%}.wikitext
.padded{padding:8px}.wikitext
.paddedCenter{padding:8px;vertical-align:middle}.wikitext
.paddedTop{padding:8px;vertical-align:top}.wikitext
.clearRight{float:right;clear:right;display:inline}.wikitext
.trackerBox{background-color:khaki;border:2px
solid #900;margin:2px;padding:1px}.trackerBox{background-color:khaki;border:2px
solid #900;margin:2px;padding:1px}.cluetip-default{background:#F8F9D5;color:#000}.cluetip-default #cluetip-outer{background:#F8F9D5}.cluetip-default h3#cluetip-title{background:#7ba35e;color:#fff}.cluetip-default #cluetip-title
a{color:#F8F9D5}#fixedwidth{display:table;margin:auto;margin-top:0;margin-bottom:0;width:100%}body{font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;background:#c1d4b3;color:#333;text-align:center}html>body{font-size:12px;text-align:left;background:#c1d4b3}a,a:link,a:visited{color:#363;text-decoration:none;font-weight:bolder}#col2 a, #col2 a:link,
#col2 a:visited{color:#363;text-decoration:none;font-weight:normal}a:hover{text-decoration:underline}#col2 a:hover{text-decoration:underline}#col3 a, #col3 a:link,
#col3 a:visited{color:#363;text-decoration:none;font-weight:normal}#col3 a:hover{text-decoration:underline}.wikitext a.lexicon, .wikitext a:link.lexicon,
.wikitext a:visited.lexicon{color:#333;font-weight:normal;text-decoration:none;border-bottom-color:green;border-bottom-style:dotted;border-bottom-width:1px}.wikitext a:hover.lexicon{cursor:help}.wikitext a.lexicon_create, .wikitext a:link.lexicon_create,
.wikitext a:visited.lexicon_create{color:#333;font-weight:normal;text-decoration:none;border-bottom-color:red;border-bottom-style:dotted;border-bottom-width:1px}.wikitext a:hover.lexicon_create{cursor:help}h1,h2,h3,h4,h5{color:black}h1{font-weight:bold;font-size:1.8em;border-bottom:1px solid #aaa}h2{font-size:1.3em;border-bottom:1px solid #aaa}h3{font-size:1.1em;border-bottom:none}h4{font-size:1.05em;border-bottom:none}h5{font-size:1em;border-bottom:none}hr{background:#aaa;color:#aaa}legend{color:#000}fieldset{border:solid 1px #a9a9a9}#col2
fieldset{width:100px}button,input,label,textarea,option,select{margin:1px;vertical-align:middle}input[type=checkbox],input[type=radio]{vertical-align:middle !important}input.button,
button,
.button input,.button,input.wikiaction,.calbuttonbox{border:solid 1px #aaa;background:#fbfbfb;color:#000;text-transform:uppercase;font: .8em Arial,Helvetica,sans-serif}input[type=submit],input[type=reset]{border:solid 1px #aaa;background:#fbfbfb;color:#000;text-transform:uppercase;font: .8em Arial, Helvetica, sans-serif}input.button:hover,
button:hover,
input[type=submit]:hover,
.button input:hover,
.button:hover,
.calbuttonbox a:hover{cursor:pointer;background:#e6e6f8}span.button,.calbuttonbox{display:inline-block;margin:1px
2px;padding:2px}span.button a,
.calbuttonbox
a{color:#000;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif}span.button a:hover,
.calbuttonbox a:hover{text-decoration:none}#col2 input[type=text]{width:95%}form.admin input[name="features"]{margin-bottom:3px !important}form.admin{padding:3px}form.admin
fieldset{border:solid 1px #8cacbb;margin:0;margin-bottom:3px}form.admin
legend.heading{border:none;line-height:2em;margin-top: -2px;padding-left:0;padding-right:0;background:transparent}form.admin legend.heading
a{display:block;top: -1em;margin-top:2px;padding:1px
1px 0;position:relative;text-decoration:none;background:#8cacbb}form.admin legend.heading a:hover{padding:1px
0 0;background:#acbb8c}form.admin legend.heading a
span{display:block;font-size:1em;line-height:2em;padding:0
1em;background:#ebebeb}form.admin legend.heading a:hover
span{line-height:1.9em;margin-top:0.1em;border-left:solid 1px #8cacbb;border-right:solid 1px #8cacbb}small{font-size: .9em}#main{font-size:1em}#poweredBy{color:#fff;text-align:center;margin-top:10px;font-size:80%}.fullscreenbutton,#fullscreenbutton{background:#f4f4f4;border:1px
solid #d3d3d3}#header{background:url(/tikiwiki/styles/ogre/headerbg1.png) no-repeat;background-position:right 0px;height:118px}.floatleft #sitetitle,
.floatleft
#sitesubtitle{padding-left:20px}#sitetitle{font-size:2.4em}#sitesubtitle{font-size:1.6em}#sitetitle a,
#sitetitle a:link,
#sitetitle a:visited{color:#fff}#header-top{height:100px;margin-left:30px;text-align:center}#siteheader{background:url(/tikiwiki/styles/ogre/headerbg1.png) no-repeat;height:118px;margin-right:32px;margin-bottom: -1px}#siteheader{padding-top:20px;color:white}div#sioptions{margin-left:40px}#sitelogo{}#siteloginbar a,
#siteloginbar
label{color:#fff !important}#sitelogo
img{margin-top: -1px;margin-right:10px;margin-left:10px}#bannertopright{margin-top:60px}#customcodewith_ad{text-align:center;float:left;width:auto;clear:none}#customcode{text-align:center;background:#7ba35e}#customcode
a{color:white}div#sitead{clear:none}#sitead.floatright{padding-right:100px}#sitead.floatleft{padding-left:100px}#bannertopright{padding-right:1em}#siteloginbar{font-size:1em}#siteloginbar
*{margin: .2em}#siteloginbar.logged-in{bottom:3px}#sitesearchbar{padding:0
4px 0 0}#topbar_custom_code{background:#363 no-repeat;margin-left:10px;margin-right:10px}#sitesearchbar
.findtable{margin-bottom:0}.wikiinfo
a{font-family:'Lucida Grande','Trebuchet MS',Verdana,Sans-Serif;font-weight:bold;font-size:1.3em;font-style:normal;color:#363}.wikiinfo{font-family:'Lucida Grande','Trebuchet MS',Verdana,Sans-Serif;font-weight:bold;font-size:1.5em;font-style:italic;color:#363}#middle{background:#fff url(/tikiwiki/styles/ogre/ogrebg_right.png) 100% 0 repeat-y;padding-right:10px}#middle-shadow{background:#fff url(/tikiwiki/styles/ogre/ogrebg_left.png) repeat-y;padding-left:10px}#c1c2{text-align:left;font-size:1em}.fullscreen
#col1{margin-left:30px !important;margin-right:30px !important}#c1c2 #wrapper
.marginleft{margin-left:214px}#c1c2 #wrapper
.marginright{margin-right:214px}div#showhide_columns,#tiki-columns{border-top:1px solid #aaa;padding:2px
2px 0 2px}a.flip,a.flip:visited{color:#adbac3}a.flip:hover{color:#505050}.tellafriend{margin-right:2px}.tellafriend
a{color:#adbac3}.tellafriend a:hover{color:#505050}.fullscreen
.tellafriend{margin-top:2px}#tiki-center
div{padding-bottom:0px;padding-left:2px}#tiki-center div.halffloat div,
#tiki-center div.thirdfloat div,
#tiki-center div.quarterfloat
div{padding:0}#tiki-center
img{margin:1px}#col1{padding-left:5px;padding-right:5px}#tiki-center-shadow{padding-right:5px}#tiki-center .phplmnormal
div{padding:0}#tiki-center .phplmnormal
img{margin:0}#c1c2
#col2{width:214px;overflow:visible;border-top:1px solid #AAA;border-right:1px solid #AAA}#col3{margin-left: -214px;width:214px;text-align:left;font-size:1em;border-top:1px solid #AAA;border-left:1px solid #AAA}#footer{background:url(/tikiwiki/styles/ogre/footerbg1.png) no-repeat;height:90px}#footer
.content{background:url(/tikiwiki/styles/ogre/footerbg1.png) no-repeat;background-position:right;margin-left:20px;height:90px;text-align:center}div#tiki-main
#tikimidtbl{margin:auto;width:auto}.horbar{float:left}.horbaritem
a{padding:6px
6px;text-decoration:none;font: .9em Verdana, Helvetica, Arial, Sans-Serif;border-right:1px solid #aaa}.horbaritem a:hover{text-decoration:none;background:#fff}.horbaritem
img{vertical-align:middle}.mdksubmenu{background:transparent}.mdksubframe{left: -1px;top:1px;display:block;border:1px
solid #d3d3d3;border-top:none;background:#fff}.mdkitem{border-top:1px solid #dedede}.mdkitem
a{padding:2px
5px;font-weight:normal;font-size: .9em}.mdkitem a:link{font-weight:normal;text-decoration:none}.mdkitem a:visited{text-decoration:none}.mdkitem a:hover{text-decoration:none}.treemenudiv{background:#fff}.phplmnormal,a.phplmnormal:hover,a.phplm:link,a.phplm:visited,a.phplm:hover,a.phplm:active{font-family:Georgia,serif;color:#363;text-decoration:none;font-weight:bolder}a.phplm:visited{color:#363;font-weight:bolder}a.phplm:hover{color:#363;text-decoration:underline;background:none;font-weight:bolder}a.phplm:active{color:#363;font-weight:bolder}a.phplmselected:link,a.phplmselected:visited,a.phplmselected:hover,a.phplmselected:active{font:100% Georgia,serif;color:#363;text-decoration:none;font-weight:bolder;background:none;font-style:italic}a.phplmselected:hover{color:#363;font-weight:bolder;text-decoration:underline}.cssmenu_horiz ul,
.cssmenu_vert
ul{width:11em}.cssmenu_horiz li li:hover ul,
.cssmenu_horiz li li.sfHover ul,
.cssmenu_vert li li:hover ul,
.cssmenu_vert li li.sfHover
ul{left:11em}.cssmenu_horiz li,
.cssmenu_vert
li{background:#fff}.cssmenu_horiz li:hover,
.cssmenu_horiz li.sfHover,
.cssmenu_horiz a:focus,
.cssmenu_horiz a:hover,
.cssmenu_horiz a:active,
.cssmenu_vert li:hover,
.cssmenu_vert li.sfHover,
.cssmenu_vert a:focus,
.cssmenu_vert a:hover,
.cssmenu_vert a:active{background:#fff}#col2 .cssmenu_vert,
#col2 .cssmenu_vert
li{width:175px}#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover
ul{left:175px}#col2 .cssmenu_vert ul,
#col2 .cssmenu_vert ul
li{width:11em}#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover
ul{left:11em}.cssmenu_horiz li ul li,
.cssmenu_vert li ul
li{border:1px
solid #d3d3d3;border-top:0;margin-bottom: -1px}.cssmenu_vert li ul li:first-child{border-top:1px solid #d3d3d3}.cssmenu_horiz a,
.cssmenu_vert
a{text-decoration:none;display:block;padding:5px
6px}.cssmenu_horiz a:hover,
.cssmenu_vert a:hover{text-decoration:underline}#tiki-top>.cssmenu_horiz{border-left:1px solid #aaa}#tiki-top
.cssmenu_horiz{float:left;margin-left:11px;font: .9em Verdana,Helvetica,Arial,Sans-Serif}#tiki-top>.cssmenu_horiz>li>a{border-right:1px solid #aaa;padding:8px
1em}#tiki-top>.cssmenu_horiz>li.menuSection>a{padding-right:2.6em}.sf-sub-indicator{background:url(/tikiwiki/styles/ogre/arrows-7ba35e.png) no-repeat -10px -100px}#col2 a .sf-sub-indicator{top:0.5em}.option, .optionline,
#tiki-center .option,
#tiki-center
.optionline{background:transparent url(/tikiwiki/styles/../img/icons2/corner-dots.gif) center left no-repeat;padding:0.2em 0 0.2em 1.6em}.box
.menusection{padding-left:5px}.selected{font-weight:bold}.selected ul li
a{font-weight:normal}div.menuSection div.menuSection,
div.menuSection
div.separator{padding-left:5px}.highlight,#highlight{background:#f2cd5e !important}.link,.gallink,.bloglink,.fgallink,.trailer,.opencomlink,.commentslink,.admlink,.forumbutlink{font-weight:normal;padding:0}.prevnext{font-size:1em;padding:1px
6px}#col2 div.box,
#col3
div.box{margin:9px}h3.box-title{margin:0
0 7px 1em;padding:0;height:18px;color:black;text-transform:uppercase;font:normal 90% Arial,Helvetica,sans-serif}span.moduletitle{font-weight:bold}.box:hover
img.flipmodimage{height:13px;width:13px;background:#fff}img.flipmodimage:hover{border:1px
solid #aaa !important}.opaque{border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;padding:7px;margin:0}.box-data{padding-bottom:8px}.box-data
ol{padding-left:2em;margin-top:0;margin-bottom:0}.box-data
ul{padding-left:1em;margin-top:0;margin-bottom:0}.box-data ul
li{list-style:square}.cssmenu li,
.cssmenu_horiz li,
.cssmenu_vert
li{list-style:none !important}.box-data
ul.cssmenu_vert{padding:0}.box-since_last_visit_new div.box-data
div{text-align:left !important}.box-since_last_visit_new a.linkmodule
b{text-transform:uppercase;font:85% Arial,Helvetica,sans-serif}div.cbox{background:#ebebeb;margin-bottom:4px;border:1px
solid #aaa}.cbox-title{border-bottom:1px solid #aaa;padding:3px;margin:0
0 7px 0;padding:0;color:black;text-transform:uppercase;font-weight:bold;text-indent:1em;font:normal 75% Arial,Helvetica,sans-serif}.cbox-data{padding:3px}.rbox{margin:0.2em 0 0.4em;text-align:left}.rbox-title{border:none;float:left;font-size:1em;padding:0.2em 0.8em;line-height:1.4em;position:relative;top:1px;z-index:2;background:#f2cd5e}.rbox-data{border:solid 1px #f2cd5e;clear:left;margin:0;padding:6px
2px 2px 2px;background:#fff}div.simplebox{border:1px
solid #aaa;background:#fff;padding:1em}table.normal{border:solid 1px #909090;border-collapse:collapse}table.normal,table.admin{margin:0;border-collapse:collapse;width:100%}table.admin div#page-bar{margin-left:5px;margin-bottom:0;background:transparent}table.normalnoborder{width:100%}body.tiki_mytiki #tiki-center form table.normal,
body.tiki_mytiki #tiki-center .normal
form{border:none}table.normal td,
td.normal,
.wikitable td,td.odd,td.even{margin:0;padding:0.2em;vertical-align:top}tr.odd td,td.odd{background:#eee}tr.even td,td.even{background:#f9f9f9}td.third{background:#e7e7e7}th,td.heading,tr.diffheader{background:#f0f4f5;border:1px
solid #999;border-collapse:collapse;font-size:1em}td.form{padding:3px}.tabs{border-bottom:solid 1px #0a6aa6 !important;margin-top:10px !important;padding:0
!important}.admin{padding:2px}.tabmark{font-size:10px;padding:2px
0;background:#bfbfbf}.tabmark
a{color:#000;font-weight:bold}.tabmark a:active{color:#0a6aa6;background:#f2f2f2}.tabmark a:hover{color:#0a6aa6;text-decoration:none;background:#cfcfcf}.tabactive{border:solid 1px #0a6aa6 !important;border-bottom:0 !important;border-top-width:2px !important;bottom:2px;z-index:2;background:#f2f2f2 !important}[class].tabactive{bottom:1px}.tabactive a:hover{background:#f2f2f2 !important}.tabactive
a{color:#0a6aa6 !important}.tabinactive{border:solid 1px #666 !important}.tabcontent{border:solid 1px #0a6aa6 !important;border-top:none !important;margin:0;padding:6px
2px 2px 2px;text-align:center;background:#f2f2f2}.tabcontent
table{width:95%;margin:1% auto 2%}.commentbloc{text-align:left}h1
a.pagetitle{font-size:1.2em}div#description,.description{font-size: .95em;font-style:italic}.wikitext{font-size:125%;line-height:1.5em}.wikitext h1,
.wikitext h2,
.wikitext h3,
.wikitext
h4{margin:0
0 15px;padding:0}.wikitext
h2{margin-bottom:8px;border-bottom:1px solid #aaa}.wikitext
h3{margin-bottom:8px;border-bottom:1px solid #aaa}.wikitext
.fancylist{margin-left:30px;padding-left:30px}.wikitext .fancylist
li{color:#999;font:italic 2.2em Georgia, "Times New Roman", sans-serif;list-style-position:outside}.wikitext .fancylist li
p{color:#000;display:inline;font-size:50%;font-style:normal}.titlebar{padding:0.1em;border-top:1px solid #999;border-bottom:1px solid #999;margin:10px
0}.wikitext
div.box{width:auto}.wikitopline
table{width:100%}table.wikitable{border:1px
solid #a9a9a9;border-collapse:collapse}td.wikicell{padding:3px;border:1px
solid #999;border-collapse:collapse}textarea.wikiedit{font-size:1.1em}div.code{padding:3px;border:1px
dashed #ccc;background:#f5f5f5;font:90% "Courier New", Courier, monospace}#tiki-center
.versioncontent{border:1px
solid #aaa;background:#fff}.mandatory_note{display:block;font-style:italic;margin-top:10px}div.tocnav{background:#ebebeb;padding:3px}ul.toc{border-top:1px dotted #999;border-bottom:1px dotted #999}.diff
td{border:1px
solid #a9b8c2}.diff
div{border-top:1px solid #a9b8c2}.diffheader
td{background:#a9b8c2;font-weight:bold;width:50%}.wikitext
.article{font-size: .8em}div.articletopline{color:#000;font:90% arial,helvetica,sans-serif;text-transform:uppercase}div.articletitle{margin-top:0;margin-bottom:15px;text-align:left}div.articletitle
h2{font-size:200%;font-weight:normal}span.titleb{font-size:1.0em}div.articlesubtitle{font-size:0.9em}div.articleheading{margin-top:6px;font-size:125%;line-height:1.5em}div.articlebody{font-size:125%;line-height:1.5em}div.blogtitle{font-size:1.8em;font-weight:bold;padding:3px;margin-top:10px;line-height:80%}div.bloginfo{text-align:center;padding:3px;line-height:150%;text-transform:none}.postinfo
a{color:#9cf;text-decoration:none;border-bottom:1px dotted #9cf}a.blogt:hover{color:#fff;border-bottom:1px dotted #fff}.postinfo{font-size:1.2em}span.posthead{font-weight:bold;letter-spacing: .4pt}span.posthead
span.link{font-weight:bold}.tiki_blogs #tiki-center .postbody-title,
.tiki_blogs #tiki-center
.title{padding-left:0;margin-left:0}body.tiki_blogs .post .title
h2{font-size:1.7em;margin-top:0}body.tiki_blogs .post
.postbody{margin-right:8px;line-height:1.4em;margin-bottom:1em}body.tiki_blogs .post
.postbody{background:none;border:0}body.tiki_blogs
div.author_actions{float:none;background:none;border:0;width:100%}body.tiki_blogs
.actions{background:none}body.tiki_blogs
.author_info{}.postbody-title{background:none;border:0}body.tiki_blogs .postbody-title{float:none;width:100%;background:none;border:0}body.tiki_blogs
.postfooter{width:100%;float:none}body.tiki_blogs .postfooter
.actions{float:left}.post{margin-bottom:30px}.post
.postbody{border:solid 1px #e7eaed;border-top:solid 1px gray;padding:3px
0 3px 0;font-size:1.1em;background:#f9fcff}.postbody-title{width:100%;float:none;margin-top:0;margin-bottom:auto;border-bottom:1px solid #acccdd;background:#e0eaf4}.tiki_forums .post .postbody-title
.title{color:#29677b;font-weight:bold;font-size:12px;margin-left:5px;margin-top:3px}.author_actions{width:25%;float:right;text-align:right;border-bottom:1px solid #acccdd;border-left:1px solid #acccdd;margin-left: -1px;background:#e0eaf4}.author_actions
.actions{background:#e0eaf4}.author_actions .actions
a.link{padding:2px}.author{text-align:right;vertical-align:top;float:none}.post
.author_post_info{display:block;padding:0
2px 2px 2px;background:#e0eaf4}.post
.author_post_info_on{font-style:italic}.post
.author_info{float:right;padding:0
2px 2px 2px;margin-left:5px}.post .postbody-title
.actions{font-size:10px}.post .postbody
.content{float:left;padding:0
3px 3px 3px;width:100% !important;height:100%;text-align:left;color:#000}.post .postbody
.attachments{border-top:1px dotted #d9d9d9}.post .postfooter
.status{font-size:10px}.post
.contribution{border:1px
solid #d7e5f3;padding:0
2px 0 2px;background:#f0f8ff}.post
.avatar{border:1px
solid #acccdd;background:#e0eaf4}.forum_actions
.actions{border:1px
solid #999;padding:3px;background:#e1ebf5}.forum_actions .headers
.title{border:1px
solid #999;background:#c7d0d9}.forum_actions .headers
.infos{font-size:smaller}.post_preview,.top_post{margin-bottom:15px}span.commentstitle{font-size:12px}div.commentsedithelp{background:#ffcfcf;color:black;border:1px
solid #f00;text-align:center;font-weight:bold}table.galtable{border-collapse:collapse;border:1px
solid #8cacbb}.caption{color:black}.calodd{background:#fff}.caleven{background:#f9f9f9}.cal,.cal0,.cal1,.cal2{color:#000;font-size:90%}.calart,.calblog,.calchart,.caldir,.caleph,.calfaq,.calfgal,.calforum,.calgal,.calnl,.calquiz,.calsurv,.caltrack,.calwiki{font-size:1em}.calart,
.calart a,
.calart a:visited{color:#fa8072}.calblog,
.calblog a,
.calblog a:visited{color:#da70d6}.calchart,
.calchart a,
.calchart a:visited{color:#304f30}.caldir,
.caldir a,
.caldir a:visited{color:#800080}.calfaq,
.calfaq a,
.calfaq a:visited{color:#822222}.calfgal,
.calfgal a,
.calfgal a:visited{color:#8b4513}.calforum,
.calforum a,
.calforum a:visited{color:#808000}.calgal,
.calgal a,
.calgal a:visited{color:#8b4513}.calnl,
.calnl a,
.calnl a:visited{color:#708090}.calquiz,
.calquiz a,
.calquiz a:visited{color:#5f9ea0}.calsurv,
.calsurv a,
.calsurv a:visited{color:#daa520}caltrack,
caltrack a,
caltrack a:visited{color:#00bd02}.calweb{font-size:1em}.calweb:hover{color:#963}.calwiki,
.calwiki a,
.calwiki a:visited{color:#2c4b80}.calcontent a.linkmenu,
.calcontent a.linkmenu:hover{background:none;padding:0}.calfocus{font-size:90%;background:inherit}.caldark
.calfocus{background:inherit}.calodd .calfocuson,
.caleven .calfocuson,.calfocuson+.calcontent{background:#e6eff8}.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9
a{color:#393e51}.caltoggle{font-size:90%}.opaque{background:#fff;border-left:1px solid #a9a9a9;border-top:1px solid #a9a9a9;border-right:1px solid #696969;border-bottom:1px solid #696969}.opaque .box-title{border-bottom:1px solid black;padding-bottom:7px;background:white}.searchresults li .objecttype,
.searchresults li .parentname,
.searchresults li
.objectname{font-size:120%;font-weight:bold}.searchresults .itemhits,
.searchresults .itemrelevance,
.searchresults
.searchdate{color:gray;font-size:90%}.caltable .calfocuson,
.box-data td.fc a.today,
.box-data td
a.today{background:#D4D0C8;border:solid 1px #696969}.buttonon a,
.calbuttonon a,
.calheadingon
a{font-weight:bold}div.pollresults{margin-top:5px;font-size:1.2em;padding:0
5px}table.pollresults{width:100%}td.pollr{color:black}div.faqquestion{font-weight:bold;padding:2px
12px;padding-bottom:0}div.questionblock{padding:4px}div.dircategs{border:1px
solid #8cacbb;padding:5px}.dirsublink{font-size: .95em}div.dirlistsites{padding:5px
0 10px 5px;margin-top:10px}div.dirsite{margin:5px}div.dirrelated{margin-top:10px;padding:5px}td.dirfooter{font-size: .95em}div.dirfooter{margin-top:10px}td.prio1,td.prio2,td.prio3,td.prio4,td.prio5{border:1px
solid #8cacbb;padding-left:2px}div.messureadflag{background:#ccc}div.messureadhead{background:#dedede}div.messureadbody{background:#dedede}.readlink{font-size:1em}table.default thead td,
table.default tfoot
td{font-weight:bold;text-align:center;background:#eee;color:#000}table.default
td{border:solid 1px #909090;background:#fff}.highlight_word_0,.highlight_word_1,.highlight_word_2,.highlight_word_3,.highlight_word_4{background:black}div.adminanchors{background:#f0f4f5 !important;border:1px
solid #999}a.admbox{border:1px
solid #aaa;color:white;background-color:#6c6c6c}a.admbox:hover,a.admbox:focus,a.admbox:active{border:1px
solid #292929;background-color:#b2b2b2}a.admbox.off{border:1px
solid #9f9f9f;color:#9f9f9f}a.admbox.off:hover,a.admbox.off:focus,a.admbox.off:active{border:1px
solid #9f9f9f}body.tiki_mytiki #tiki-center
form{border:1px
solid #aaa;padding:10px}body.fixed_width{background:#f4f4f4}body.fixed_width
#main{background:#fff}body.fixed_width #main[id]{border:1px
solid #aaa}